@media only screen and (max-width: 600px) {
  .mobile-CardTitle {
    font-size: 15px !important;
    font-family : system-ui;
  }

  .p-4 {
    padding: 1.5rem !important;
  }

  h3 {
    font-size: 14px !important;
  }
  .accordion-body{
    padding: 0 !important;
  }
 .starter  .card-body{
    border-top-left-radius: 30px !important;
    /* border-top-right-radius: 51px; */
    border-bottom-right-radius: 30px !important;
  }
  .p-4.card-body {
    padding: 9px !important;
  }
  /* button.accordion-button {
    padding: 8px !important;
    padding-top: 10px !important;
  } */
}
body{

  background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #eb12dc);

}
.center > h5{
text-align: center;
}
.accordion-button:focus {
  outline: 0 !important;
  box-shadow: none !important;
}
.rhap_main.rhap_stacked * {
  color: #6a217d !important;
}
.rhap_progress-indicator {
  background: #6a217d !important;
}
/* button.accordion-button {
  border-top-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important;
} */
.accordion-item{
  background-color:unset !important
}
.list-dot {
  background: #1e2a35;
  width: 13px;
  height: 13px;
  border-radius: 13px;
  padding: 1px;
  margin-right: 8px;
  align-items: center;
  font-size: 8px;
  display: inline;
  vertical-align: middle;
}

.d-flex.align-items-center.p-2 {
  border: 1px solid #3270fa;
  border-radius: 5px;
  background: #3270fa17;
}
.card{
  background-color: white;
}
.gallery .card{
  border-top-left-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  /* border-bottom-left-radius: 30px !important;
  border-top-right-radius: 30px !important; */
}

/* // X-Small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
  .c-icon{
    display: none !important;
    
  }
  .ms-3-remove-margin{
    margin-left: 0 !important;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media only screen and (max-width: 767.98px) {
  .c-icon{
    display: none !important;
  }
  .ms-3-remove-margin{
    margin-left: 0 !important;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media only screen and (min-width: 991.98px) {
  .p-4 {
    padding: 5rem !important;
  }
}

/* // Large devices (desktops, less than 1200px) */
@media only screen and (min-width: 1199.98px) {
  .p-4 {
    padding: 5rem !important;
  }
}

/* // X-Large devices (large desktops, less than 1400px) */
@media only screen and (min-width: 1399.98px) {
  .p-4 {
    padding: 5rem !important;
  }
}